video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  align-items: center;
  width: 50%;
  text-align: center;
  background-color: rgba(34, 126, 217, 0.846);
  padding: 20px;
  margin: 3%;
  border-radius: 3%;
}


h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 50px;
  color: white;
  -webkit-text-stroke: 1px rgb(86, 14, 100);
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  font-weight:lighter;
  color: aliceblue;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  font-weight:lighter;
  color: aliceblue;
}

.advice {
  border-radius: 10px 100px / 120px;
  padding: 10px;
  font-size: 30px;
  color: white;
  font-family: 'Fredoka One', cursive;
  background: rgba(17, 13, 94, 0.555);
  background: linear-gradient(90deg, rgba(17, 13, 94, 0.801) 6%, rgba(157, 26, 148, 0.879) 39%, rgba(0, 213, 255, 0.913) 100%);
  -webkit-text-stroke: 1px rgb(86, 14, 100);
}

.btn {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 10px;
  background-color: rgba(104, 1, 130, 0.483);
  border: 2px solid rgba(104, 1, 130, 0.879);
  border-radius: 20px;
  color :aliceblue;
}

.btn:hover {
  cursor: pointer;
  background-color: rgba(104, 1, 130, 0.879);
}

@media all and (max-width:800px) {

  .content {
    width: 70%;
  }

  .advice {
    font-size: 20px;
  }


}     

@media all and (max-width:500px) {

  h1 {
    font-size: 35px;
  }

} 